In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("ANS_JDV_CircuitBio.xlsx", sheet_name="1.JDV_CircuitBio", header=1)

Remplacer les é, è par des e

Enlever la ponctuation dans les noms

# Preprocessing

Supprimer les lignes identiques

In [3]:
df = df[['Unité recommandée', 'Unité UCUM', "Libellés d\'édition (Reférentiel JDV ANS)"]].drop_duplicates()

Supprimer les lignes où les unités sont à NaN

In [4]:
df = df[pd.notnull(df['Unité recommandée'])]

Renommer les colonnes

In [5]:
df = df.rename(columns={'Libellés d\'édition (Reférentiel JDV ANS)' : 'Nom'})

In [6]:
df

     Unité recommandée Unité UCUM               Nom
0              10*12/L    10*12/L          Hématies
1                  g/L        g/L       Hémoglobine
2                    %          %       Hématocrite
3                   fL         fL               VGM
4                   pg         pg              TCMH
...                ...        ...               ...
6328             ng/mL      ng/mL    Anti-Rituximab
6329             µg/mL      ug/mL       Ustekinumab
6330             ng/mL      ng/mL  Anti-Ustekinumab
6331             µg/mL      ug/mL       Védolizumab
6332             ng/mL      ng/mL  Anti-Védolizumab

[2342 rows x 3 columns]

In [7]:
a = df['Unité recommandée'] == df['Unité UCUM']
a

0        True
1        True
2        True
3        True
4        True
        ...
6328     True
6329    False
6330     True
6331    False
6332     True
Length: 2342, dtype: bool

In [8]:
a[a == False]

62      False
64      False
83      False
85      False
171     False
        ...
6323    False
6325    False
6327    False
6329    False
6331    False
Length: 789, dtype: bool

In [9]:
a.loc[[62]]

62    False
dtype: bool

In [10]:
df.filter(regex='.*Synonyme')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 62, 64, 67, 68, 70, 71, 73, 74, 75, 83, 84, 85, 89, 92, 93, 94, 95, 107, 108, 109, 110, 111, 112, 116, 118, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 133, 135, 136, 137, 138, 139, 140, ...]

[2342 rows x 0 columns]